.DS_Store
*.jpg
*.png
*.gif
application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/
AdminBSBMaterialDesign-master/*

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
/user_guide
/チーム開発定義書
/.vscode
/tmp
appkit-landing-theme-v2.1.zip
assets/cms/plugins/fullcalendar-4.2.0.zip
Untitled-1.sql
animarl.sql
